<div class="app">
  <h1 id="navMenu" >
    <button #rla="routerLinkActive" routerLink="/complaints" routerLinkActive [style.color]="rla.isActive?'white':'black'" >VOLTAGE COMPLAINTS</button>
    <button #rla1="routerLinkActive" routerLink="/outages" routerLinkActive [style.color]="rla1.isActive?'white':'black'" >OUTAGES COMPLAINTS</button>
    <button #rla2="routerLinkActive" routerLink="/about" routerLinkActive [style.color]="rla2.isActive?'white':'black'" >ABOUT</button>
    <button #rla3="routerLinkActive" routerLink="/mainsite" routerLinkActive [style.color]="rla3.isActive?'white':'black'" >AURORA</button>
  </h1>
  <router-outlet></router-outlet>
</div>
<br/>
