/* You can add global styles to this file, and also import other style files */
#header1 {
  display: block;
  width: 100%;
  height: 91px;
  background-color: #f58220;
}
.line01:hover {
  border: black 1px;
  background-color: aquamarine;
}

h2 {
  color: black;
}
